# Python Project- Data Types and Variables
## by Asare Samuel
### Introduction 
> ### This is a study document on the data types and variables acknowledged in Python. It takes a question and answer approach to define every data type and variable.

### Data Types

1. Define each data type, and give an example.
a. Integer b. Floating point c. String

>ans. a. Integer- An integer is a positive or negative number that is not a decimal between 0 and infinity.For example 5
     b. Foating Point OR Float - A floating point or Float is any decimal number, positive or negative. For example 5.0
     c. String - A string is a data type that contains letters and numbers. for example 'text'.

2. What data type is each value? Use the type function to verify.
a. 3
b. 4.5
c. 6.0
d. "hello"
e. "3.14159"
f. math.pi

In [8]:
 type(3)

int

In [9]:
type(4.5)

float

In [11]:
type(6.0)

float

In [12]:
type("hello")

str

In [13]:
type("3.14159")

str

In [15]:
type('math.pi')

str

3. Use the type function to identify the data type of each result. Are there any that do not work?
a. 3 + 7
b. 5 + 6.0
c. 6 / 3.0
d. 6.0 // 3.0
e. "Py" + "thon"
f. "High" + 5

In [16]:
 type( 3 + 7)

int

In [17]:
type(5+6.0)

float

In [18]:
type(6/3.0)

float

In [21]:
type( 6.0 // 3.0)

float

In [22]:
type("Py" + "thon")

str

In [23]:
type("High" + 5)

TypeError: can only concatenate str (not "int") to str

The above does not work.

### Variables

4. Which variable names are acceptable, and which are not? If a variable name is unacceptable, 
explain why.
a. num
b. AGE
c. FiRsTnAmE
d. _count
e. 2nd_card
f. card_2
h. lambda

> ans: The following variable names are acceptable
- a. num
- b. AGE
- c. FiRsTnAmE
- d. _count
- f. card_2
- h. lambda

- e. 2nd_card
<p> This variable name is not acceptable because as a rule, variable names must not start with a number, but with a letter or an underscore.

- g. card 2
<p> This variable name is not acceptable because as a rule, spaces in python are to be shown with underscores. Anything else will print an error.

5. Choose a meaningful variable name to represent each scenario.
a. The number of cards dealt to a player.
b. An employee's monthly salary.
c. The sum of the values rolled by two dice.
d. The temperature on a hot summer day.

Meaningful variable names
a. num_of_cards
b. monthly_salary
c. sum
d. temperature

6. Assign the values x="house", y="boat" and z="ha". What is the result of each statement? Which 
do not work, and why?
a. x+y
b. y+x
c. z*3
d. z*x
e. x+2
f. y+"2"

In [27]:
x="house"

In [28]:
y="boat"

In [29]:
z="ha"

In [39]:
x+y , y+x , z*3 , y+"2"

('houseboat', 'boathouse', 'hahaha', 'boat2')

The operations below do not work, the first is because you cant multiply a str data type with another, only an int data type.

In [36]:
 z*x

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
The second does not work because we can only add two str data type values, if we were to double quote 2,m then that will work.

In [37]:
 x+2

TypeError: can only concatenate str (not "int") to str

7. Assign the values base=10 and height=5. Calculate the area of a triangle using the formula
At=
1
2
(b)(h) , and assign the value to the variable area. Echo this value.

In [62]:
b=10

In [63]:
 h=5

In [64]:
area = (b*h)/2
print(area)

25.0

In [71]:
area=25.0

In [72]:
print(area)

25.0

8. Execute the following sequence of commands in the shell, then state the final value of k.
k = 7
k += 3
k *= 2
k -= 5
k //= 6

In [94]:
k=7
k+=3
k*=2
k-=5
k//=6
print(k)

2

9. Explain why the following run-time error occurs.
>>> number = 8
>>> Number += 1
Traceback (most recent call last):
 File "<pyshell>", line 1, in <module>
NameError: name 'Number' is not defined

Python is case sensitive, so number != Number
The change from number to Number in the second line of the code prints the above error.

10. Python is a dynamically-typed language: a variable’s data type can change as necessary. 
Assign the value x=4, then use check its type using the type function.
What data type is it? Increment x by 1, 
using the += operator, then check its type again.
Did it change? If so, what data type is it? 
Increment x by 1.0, then check its type. Did it change?
If so, what data type is it?

In [74]:
x=4

In [75]:
type(x)

int

In [77]:
x+=1

In [79]:
print(x)

5

In [78]:
type(x)

int

In [80]:
x+=1.0

In [81]:
print(x)

6.0

In [82]:
type(x)

float

The last operation changed the data type to float